.navbar-button {
  content: '';
}

.navbar-button:before {
  content: '';
  transform: translateY(-4px) rotate(0deg);
  display: block;
  height: 1.5px;
  width: 22px;
  background-color: black;
  transition: transform 0.15s ease;
}

.navbar-button.active:before {
  transform: translateY(1px) rotate(45deg);
}

.navbar-button:after {
  content: '';
  transform: translateY(4px) rotate(0deg);
  display: block;
  height: 1.5px;
  width: 22px;
  background-color: black;
  transition: transform 0.15s ease;
}

.navbar-button.active:after {
  transform: translateY(0px) rotate(-45deg);
}
