@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes display-while {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes dimmer {
  to {
    opacity: 0.2;
  }
}

@keyframes dimshow {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 0.2;
  }
}

@keyframes dimdisappear {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 0;
  }
}
